html {
  margin: 0px;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
}

.div_twic_control{
  position:relative;
  display: block;
}

.div_twic_container {
  overflow:hidden;
  resize:both;
}

.twic_panel {
  position: relative;
  overflow: auto;
  display: block;
}

.div_twic_graph {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.div_twic_graph_corpusview {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div_twic_graph_corpusclusterview {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div_twic_graph_textclusterview {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.group_twic_graph_overlay {
  fill: none;
  pointer-events: all;
}

.div_twic_info {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  display:inline;
  border-radius:15px;
  background-color: #002240;
  position:absolute;
}

.svg_twic_info {

}

.topic_highlightrect {
  position: absolute;
}

.topic_wordlist {
  font-family: Archer;
  font-size: 20;
  position: absolute;
}

.left_resizer {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left:-5px;
    background: orange;
    opacity: .5;
    cursor: ew-resize;
}

.right_resizer {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    right:-5px;
    background: orange;
    opacity: .5;
    cursor: ew-resize;
}

.top_resizer {
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    top:-5px;
    background: orange;
    opacity: .5;
    cursor: ns-resize;
}

.bottom_resizer {
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    bottom:-5px;
    background: orange;
    opacity: .5;
    cursor: ns-resize;
}

.se_resizer {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: -5px;
    right: -5px;
    background: red;
    opacity: .5;
    cursor: nwse-resize;
}

.ne_resizer {
    position: absolute;
    height: 10px;
    width: 10px;
    top: -5px;
    right: -5px;
    background: red;
    opacity: .5;
    cursor: nesw-resize;
}

.sw_resizer {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: -5px;
    left: -5px;
    background: red;
    opacity: .5;
    cursor: nesw-resize;
}

.nw_resizer {
    position: absolute;
    height: 10px;
    width: 10px;
    top: -5px;
    left: -5px;
    background: red;
    opacity: .5;
    cursor: nwse-resize;
}

.d3-tip {
  line-height: 1;
  font-family: Archer;
  font-size: 21;
  padding: 12px;
  background: rgba(223,218,196, 0.8);
  color: #4C2F2E;
  border-radius: 5px;
}


